@font-face {
    font-family: "AdamCGPro";
    src: url("../font/ADAM.CG\ PRO.otf") format("opentype");
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* index.html */
/* Header */

header {
    display: flex;
    width: 100%;
}

.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    z-index: 1000;
    background-image: url(../img/prism.png);
    box-shadow: 0 1px 1.5px black;
}

.header-menu_link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 150px;
    color: darken($color: #F3E0DC, $amount: 5%);
    font-weight: 700;
    font-size: 24px;
    position: relative;
    transition: .3s;
    text-shadow: 1px 1px 2px black;
    z-index: 100;
    user-select: none;
    -webkit-user-drag: none;
    font-family: Roboto;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        transform: scaleX(0);
        background: rgba(125, 125, 125, .2);
        position: absolute;
        left: 0;
        bottom: 0;
        transition: .3s;
        z-index: -1;
    }
    &::before {
        content: "";
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        background: rgba(255, 255, 255, 0.4);
        position: absolute;
        left: 0;
        bottom: -1.5%;
        transition: .3s;
        z-index: -1;
    }
    &:hover {
        color: white;
        &::after {
            transform: scaleX(1);
        }
        &::before {
            transform: scaleX(1);
        }
    }
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 125px);
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.75));
    }
}

.index {
    display: flex;
    flex-direction: column;
    background-image: url(../img/doodles.png);
}

.main-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 125px 0 0 0;
    box-sizing: initial;
    padding: 25px;
    width: 560px;
    background-image: url(../img/broken_noise.png);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 1.5px .5px rgba(0, 0, 0, 0.7);
    z-index: 100;
    .inspired{
        color: rebeccapurple;
        transition: .5s;
    }
    .anything {
        color: rgb(253, 228, 87);
        transition: .5s;
    }
    .way {
        color: rgb(247, 201, 115);
        transition: .5s;
    }
    .inspired, .anything, .way {
        &:hover {
            letter-spacing: .5px;
            margin: 0 2px;
            font-size: 105%;
        }
    }
    p {
        letter-spacing: -1px;
        user-select: none;
        -webkit-user-drag: none;
        font-family: Roboto;
        font-style: italic;
        font-size: 31px;
        color: white;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        &::before {
            content: "\201C";
            position: relative;
            left: 4px;
            font-family: 'Times New Roman', Times, serif
        }
        &::after {
            content: "\201D";
            position: relative;
            right: 10px;
            font-family: 'Times New Roman', Times, serif
        }
    }
}

.main-selfinfo {
    display: flex;
    width: 560px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    box-sizing: initial;
    margin: 25px 0 125px 0;
    border-radius: 10px;
    padding: 25px;
    z-index: 100;
    border: 1px solid black;
    box-shadow: 0 0 1.5px .5px rgba(0, 0, 0, 0.7);
    background-image: url(../img/broken_noise.png);
    h3 {
        font-family: AdamCGPro;
        font-size: 28px;
        user-select: none;
        -webkit-user-drag: none;
        color: white;
        text-shadow: 2px 2px 1px black;
    }
    p {
        font-weight: 300;
        margin-top: 10px;
        color: white;
        font-size: 18px;
        text-shadow: 1px 1px 1px black;
        font-family: Roboto;
    }
    span {
        color: lighten(rebeccapurple, 35%);
        font-weight: 500;
    }
}

.main-selfinfo_photo {
    width: 200px;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px black;
    height: 200px;
    background-size: cover;
    background-image: url(../img/photo.JPEG)
}

/* Footer */

footer {
    display: flex;
    width: 100%;
    height: 50px;
    position: relative;
    background-image: url(../img/prism.png);
}

.footer-copyright {
    font-family: Roboto;
    box-shadow: 0 -1px 1.5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 17px;
    letter-spacing: -.5px;
    height: 100%;
    color: white;
    font-weight: 100;
    user-select: none;
    -webkit-user-drag: none;
}


/* skills.html */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(../img/argyle.png);
}

.main-skills {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 430px;
    border-radius: 10px;
    z-index: 100;
    &:first-child {
        margin-top: 25px;
    }
    &:last-child {
        margin-bottom: 15px;
    }
}

.main-skills_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 10px;
    font-family: AdamCGPro;
    font-size: 26px;
    font-weight: 100;
    border-radius: 10px 10px 0 0;
    -webkit-user-drag: none;
    user-select: none;
    background-image: url(../img/tactile_noise.png);
    color: white;
    text-shadow: 1px 1px 2px black;
}

.main-skills_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/prism.png);
}

.main-skills_item {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-family: Roboto;
    color: darken($color: #F3E0DC, $amount: 5%);
    text-shadow: 1px 1px 1px black;
    position: relative;
    z-index: 1;
    h3 {
        -webkit-user-drag: none;
        user-select: none;
        font-size: 22px;
        font-weight: 600;
    }
}

.main-skills_description {
    display: flex;
    position: absolute;
    width: 100%;
    height: 310px;
    top: 100%;
    padding: 10px 10px 0 10px;
    left: 0;
    box-sizing: border-box;
    background-image: url(../img/lightpaperfibers.png);
    box-shadow: 0 0 0 1px black inset;
    color: black;
    font-weight: 900;
    text-shadow: 1px 1px 1px white;
    border-radius: 0 0 10px 10px;
    cursor: initial;
    font-size: 16px;
    font-style: italic;
}

/* contact.html */

.contact {
    display: flex;
    align-items: center;
    background-image: url(../img/diamond_upholstery.png);
}

.main-contact {
    display: flex;
    width: 605px;
    padding: 15px;
    margin-top: 125px;
    background-image: url(../img/broken_noise.png);
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 0 2px 1px rgb(48, 4, 4);
    p {
        color: white;
        font-family: Roboto;
        font-size: 26px;
    }
    .contactspan {
        color: rgb(155,155,255);
    }
    .valuespan {
        color: rgb(160, 221, 245);
    }
}